<!-- begin imports -->
<!-- for bootstrap -->
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/css/jasny-bootstrap.css">
<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/css/jasny-bootstrap.min.css">

<!-- for font awesome -->
<link rel="stylesheet" href="font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<!-- for custom styles -->
<link rel="stylesheet" type="text/css" href="../customstyle/main.css">

<!-- for scripts -->
<link rel="stylesheet" type="text/css" href="../bootstrap/js/bootstrap.js">
<link rel="stylesheet" type="text/css" href="../bootstrap/js/bootstrap.min.js">

<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/js/jasny-bootstrap.js">
<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/js/jasny-bootstrap.min.js">

<!-- for the javascript -->
<head>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <script src="../jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
  <script src="../jasny-bootstrap/js/offcanvas.js"></script>
</head>

<!-- end imports -->

<body>
  <!-- top bar here -->
  <nav class="navbar navbar-default navbar-fixed-top top-bar">
    <img src="../img/mainlogo.png" alt="logo" class="logo">
    <div class="container-fluid">
      <h1 class="title-h1">The Lightning Cup</h1>
      <h2 class="title-h2">5 Days. 5 Challenges. One Winner.</h2>
    </div>
  </nav>

  <!-- side nave here -->

  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
    <ul class="nav navmenu-nav side-nav" >
      <br>
      <li>
        <p class="menu-text main-menu-text menu-icon-filler">
          <img src="../img/greylogo.png" alt="logo" class="logo-side">
          <button type="button" class="navbar-toggle btn-menu" data-toggle="offcanvas" data-target="#myNavmenu">
            <i class="fa fa-fw fa-lg fa-times icon-style"></i>
          </button>
        <hr id="light-grey"></p>
      </li>
      <li>
          <p class="menu-text">daily challenge
          <i class="fa fa-fw fa-lg fa-clock-o icon-style"></i><hr id="light-grey"></p>
      </li>
      <li>
          <p class="menu-text">the learnings
          <i class="fa fa-fw fa-lg fa-book icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">the rules
          <i class="fa fa-fw fa-lg fa-check-square-o icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">the standings
          <i class="fa fa-fw fa-lg fa-th-list icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">cup schedule
          <i class="fa fa-fw fa-lg fa-calendar icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">contacts
          <i class="fa fa-fw fa-lg fa-envelope icon-style"></i><hr></p>
      </li>
    </ul>
  </nav>
  <div class="small-nav">
    <ul class="nav navbar-nav side-nav">
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon menu-icon-filler">
          <i class="fa fa-fw fa-lg fa-bars icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-clock-o icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-book icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-check-square-o icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-th-list icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-calendar icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-envelope icon-style"></i>
        <hr></p>
      </li>
      <br>
    </ul>
  </div>


  <div class="container-fluid container-puff">
    <div class="row">

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-pink"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-dark-grey"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-light-grey"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-white"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-blue"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <i class="fa fa-lg fa-trophy post-icon"></i>
      <div class="col-md-12 left-bottom-shade">
        <br>
        <h1><center>Winner - To The House</center></h1>
      </div>
    </div>

    <!-- Bracket is here -->
    <div class="row">

      <div class="col-md-5">
        <h2><center>GROUP A</center></h2>

        <div class="row">

          <div class="col-xs-6">
            <div class="row">
              <div class="row">
                <div class="col-xs-12">
                  <div class="shaded-box">
                    <h3 class="h3-vertical-center">Rock Steady</h3>
                    <div class="badge-pink badge-far-right">20</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <div class="blue-box">
                    <h3 class="h3-vertical-center">Rock Steady</h3>
                    <div class="badge-pink badge-far-right">20</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <div class="shaded-box">
                    <h3 class="h3-vertical-center">Rock Steady</h3>
                    <div class="badge-pink badge-far-right">20</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <div class="shaded-box">
                    <h3 class="h3-vertical-center">Rock Steady</h3>
                    <div class="badge-pink badge-far-right">20</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <div class="shaded-box">
                    <h3 class="h3-vertical-center">Rock Steady</h3>
                    <div class="badge-pink badge-far-right">20</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <div class="shaded-box">
                    <h3 class="h3-vertical-center">Rock Steady</h3>
                    <div class="badge-pink badge-far-right">20</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <div class="shaded-box">
                    <h3 class="h3-vertical-center">Rock Steady</h3>
                    <div class="badge-pink badge-far-right">20</div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <div class="shaded-box">
                    <h3 class="h3-vertical-center">Rock Steady</h3>
                    <div class="badge-pink badge-far-right">20</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="row">
              <div class="empty-box">
                <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
              </div>
              <br>
              <div class="empty-box">
                <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
              </div>
              <br>
              <div class="empty-box">
                <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
              </div>
              <br>
              <div class="shaded-box">
                <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3>
                <!-- <div class="badge-pink badge-far-right">20</div> -->
              </div>
              <div class="grey-box">
                <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3>
                <!-- <div class="badge-pink badge-far-right">20</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="row">
          <div class="empty-box">
            <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
          </div>
          <br>
          <div class="empty-box">
            <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
          </div>
          <br>
          <div class="empty-box">
            <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
          </div>
          <br>
          <div class="empty-box">
            <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
          </div>
          <br>
          <div class="grey-box">
            <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3>
            <!-- <div class="badge-pink badge-far-right">20</div> -->
          </div>
          <div class="shaded-box">
            <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3>
            <!-- <div class="badge-pink badge-far-right">20</div> -->
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <h2><center>GROUP B<center></h2>
        <div class="col-xs-6">
          <div class="row">
            <div class="empty-box">
              <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
            </div>
            <br>
            <div class="empty-box">
              <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
            </div>
            <br>
            <div class="empty-box">
              <!-- <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3> -->
            </div>
            <br>
            <div class="shaded-box">
              <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3>
              <!-- <div class="badge-pink badge-far-right">20</div> -->
            </div>
            <div class="grey-box">
              <h3 class="post-light-grey h3-vertical-center">Rock Steady</h3>
              <!-- <div class="badge-pink badge-far-right">20</div> -->
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="row">
            <div class="row">
              <div class="col-xs-12">
                <div class="shaded-box">
                  <h3 class="h3-vertical-center">Rock Steady</h3>
                  <div class="badge-pink badge-far-left">20</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="blue-box">
                  <h3 class="h3-vertical-center">Rock Steady</h3>
                  <div class="badge-pink badge-far-left">20</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="shaded-box">
                  <h3 class="h3-vertical-center">Rock Steady</h3>
                  <div class="badge-pink badge-far-left">20</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="shaded-box">
                  <h3 class="h3-vertical-center">Rock Steady</h3>
                  <div class="badge-pink badge-far-left">20</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="shaded-box">
                  <h3 class="h3-vertical-center">Rock Steady</h3>
                  <div class="badge-pink badge-far-left">20</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="shaded-box">
                  <h3 class="h3-vertical-center">Rock Steady</h3>
                  <div class="badge-pink badge-far-left">20</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="shaded-box">
                  <h3 class="h3-vertical-center">Rock Steady</h3>
                  <div class="badge-pink badge-far-left">20</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="shaded-box">
                  <h3 class="h3-vertical-center">Rock Steady</h3>
                  <div class="badge-pink badge-far-left">20</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
      </div>

    </div>

  </div>
</body>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <img src="../img/whitelogo.png" alt="logo" class="logo-footer">
        <br>
        <a href="#">Privacy Link 1</a><a href="#">Privacy Link 2</a><a href="#">Privacy Link 3</a>
        <br>
        <p>&copy; 2015 Initiative. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
