<!-- begin imports -->
<!-- for bootstrap -->
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/css/jasny-bootstrap.css">
<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/css/jasny-bootstrap.min.css">

<!-- for font awesome -->
<link rel="stylesheet" href="font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<!-- for custom styles -->
<link rel="stylesheet" type="text/css" href="../customstyle/main.css">

<!-- for scripts -->
<link rel="stylesheet" type="text/css" href="../bootstrap/js/bootstrap.js">
<link rel="stylesheet" type="text/css" href="../bootstrap/js/bootstrap.min.js">

<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/js/jasny-bootstrap.js">
<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/js/jasny-bootstrap.min.js">

<!-- for the javascript -->
<head>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <script src="../jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
  <script src="../jasny-bootstrap/js/offcanvas.js"></script>
</head>

<!-- end imports -->

<body>
  <!-- top bar here -->
  <nav class="navbar navbar-default navbar-fixed-top top-bar">
    <img src="../img/mainlogo.png" alt="logo" class="logo">
    <div class="container-fluid">
      <h1 class="title-h1 title-center">The Lightning Cup</h1>
      <!-- <h2 class="title-h2">Sub text here</h2> -->
    </div>
  </nav>

  <!-- side nave here -->

  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
    <ul class="nav navmenu-nav side-nav" >
      <br>
      <li>
        <p class="menu-text main-menu-text menu-icon-filler">
          <img src="../img/greylogo.png" alt="logo" class="logo-side">
          <button type="button" class="navbar-toggle btn-menu" data-toggle="offcanvas" data-target="#myNavmenu">
            <i class="fa fa-fw fa-lg fa-times icon-style"></i>
          </button>
        <hr id="light-grey"></p>
      </li>
      <li>
          <p class="menu-text">daily challenge
          <i class="fa fa-fw fa-lg fa-clock-o icon-style"></i><hr id="light-grey"></p>
      </li>
      <li>
          <p class="menu-text">the learnings
          <i class="fa fa-fw fa-lg fa-book icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">the rules
          <i class="fa fa-fw fa-lg fa-check-square-o icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">the standings
          <i class="fa fa-fw fa-lg fa-th-list icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">cup schedule
          <i class="fa fa-fw fa-lg fa-calendar icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">contacts
          <i class="fa fa-fw fa-lg fa-envelope icon-style"></i><hr></p>
      </li>
    </ul>
  </nav>
  <div class="small-nav">
    <ul class="nav navbar-nav side-nav">
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon menu-icon-filler">
          <i class="fa fa-fw fa-lg fa-bars icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-clock-o icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-book icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-check-square-o icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-th-list icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-calendar icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-envelope icon-style"></i>
        <hr></p>
      </li>
      <br>
    </ul>
  </div>

  <div class="container-fluid container-puff">
    <div class="row">
      <i class="fa fa-lg fa-clock-o post-icon"></i>
      <!-- <i class="fa fa-fw fa-lg fa-clock-o icon-style"></i> -->
      <div class="col-md-12 left-bottom-shade">
        <h1>Post Header</h1>
        <h2>Second Header</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <img src="../img/balloon.png" class="post-image-large">

        <div class="btn-center">
          <button class="btn">click here to begin</button>
        </div>
      </div>
    </div>

    <div class="row">
      <i class="fa fa-lg fa-thumb-tack post-icon"></i>
      <!-- <i class="fa fa-fw fa-lg fa-clock-o icon-style"></i> -->
      <div class="col-md-12 left-bottom-shade">
        <h1>Post Header</h1>
        <h2>Second Header</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <iframe src="https://player.vimeo.com/video/146064760" class="post-vimeo" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <!-- <p><a href="https://vimeo.com/146064760">ACROSS THE SKY - a world record slackline in the utah desert</a> from <a href="https://vimeo.com/camp4collective">Camp 4 Collective</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->

        <div class="btn-center">
          <button class="btn">click here to begin</button>
        </div>
      </div>
    </div>
  </div>

</body>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="class=col-lg-12">
        <img src="../img/whitelogo.png" alt="logo" class="logo-footer">
        <br>
        <a href="#">Privacy Link 1</a><a href="#">Privacy Link 2</a><a href="#">Privacy Link 3</a>
        <br>
        <p>&copy; 2015 Initiative. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
