<!-- begin imports -->
<!-- for bootstrap -->
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/css/jasny-bootstrap.css">
<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/css/jasny-bootstrap.min.css">

<!-- for font awesome -->
<link rel="stylesheet" href="font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<!-- for custom styles -->
<link rel="stylesheet" type="text/css" href="../customstyle/main.css">

<!-- for scripts -->
<link rel="stylesheet" type="text/css" href="../bootstrap/js/bootstrap.js">
<link rel="stylesheet" type="text/css" href="../bootstrap/js/bootstrap.min.js">

<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/js/jasny-bootstrap.js">
<link rel="stylesheet" type="text/css" href="../jasny-bootstrap/js/jasny-bootstrap.min.js">

<!-- for the javascript -->
<head>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <script src="../jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
  <script src="../jasny-bootstrap/js/offcanvas.js"></script>
</head>

<!-- end imports -->

<body>
  <!-- top bar here -->
  <nav class="navbar navbar-default navbar-fixed-top top-bar">
    <img src="../img/mainlogo.png" alt="logo" class="logo">
    <div class="container-fluid">
      <h1 class="title-h1">The Lightning Cup</h1>
      <h2 class="title-h2">5 Days. 5 Challenges. One Winner.</h2>
    </div>
  </nav>

  <!-- side nave here -->

  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
    <ul class="nav navmenu-nav side-nav" >
      <br>
      <li>
        <p class="menu-text main-menu-text menu-icon-filler">
          <img src="../img/greylogo.png" alt="logo" class="logo-side">
          <button type="button" class="navbar-toggle btn-menu" data-toggle="offcanvas" data-target="#myNavmenu">
            <i class="fa fa-fw fa-lg fa-times icon-style"></i>
          </button>
        <hr id="light-grey"></p>
      </li>
      <li>
          <p class="menu-text">daily challenge
          <i class="fa fa-fw fa-lg fa-clock-o icon-style"></i><hr id="light-grey"></p>
      </li>
      <li>
          <p class="menu-text">the learnings
          <i class="fa fa-fw fa-lg fa-book icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">the rules
          <i class="fa fa-fw fa-lg fa-check-square-o icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">the standings
          <i class="fa fa-fw fa-lg fa-th-list icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">cup schedule
          <i class="fa fa-fw fa-lg fa-calendar icon-style"></i><hr></p>
      </li>
      <li>
          <p class="menu-text">contacts
          <i class="fa fa-fw fa-lg fa-envelope icon-style"></i><hr></p>
      </li>
    </ul>
  </nav>
  <div class="small-nav">
    <ul class="nav navbar-nav side-nav">
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon menu-icon-filler">
          <i class="fa fa-fw fa-lg fa-bars icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-clock-o icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-book icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-check-square-o icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-th-list icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-calendar icon-style"></i>
        <hr></p>
      </li>
      <br>
      <li class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu">
        <p class="menu-icon">
          <i class="fa fa-fw fa-lg fa-envelope icon-style"></i>
        <hr></p>
      </li>
      <br>
    </ul>
  </div>


  <div class="container-fluid container-puff">
    <div class="row">

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-pink"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-dark-grey"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-light-grey"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-white"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-xs-2">
              <div class="circle-blue"></div>
            </div>
            <div class="col-xs-6">
              <h4>TEXT</h4>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <i class="fa fa-lg fa-trophy post-icon"></i>
      <div class="col-md-12 left-bottom-shade">
        <br>
        <h1><center>Winner - To The House</center></h1>
      </div>
    </div>

    <!-- Graph is here -->
    <br><br>
    <div class="row">
      <div class="col-md-12 graph-padding">
        <div class="graph">

          <div class="C C-left">
          <div class="Y" style="top: 25px;">700</div>
          <div class="Y" style="top: 50px;">600</div>
          <div class="Y" style="top: 75px;">500</div>
          <div class="Y" style="top: 100px;">400</div>
          <div class="Y" style="top: 125px;">300</div>
          <div class="Y" style="top: 150px;">200</div>
          <div class="Y" style="top: 175px;">100</div>
          <div class="Y" style="top: 200px;">0</div>
          </div>

          <!-- TODO em units on resize -->

          <!-- set the height to the ammount of pixels that you wish to go up.
          If you use the above makers note that they start from the top,
          thus we will be reading the graph from bottom to top. The top
          and height must sum to the height of the parent div - 1. -->

          <div class="C">
          <img class="G" style="top: 315px; height: 35px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 270px; height: 80px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 140px; height: 210px; z-index: 4" src="../img/graph/orange.png">
          <img class="G" style="top: 50px; height: 300px; z-index: 2" src="../img/graph/yellow.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 315px; height: 35px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 275px; height: 75px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 227px; height: 103px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 150px; height: 200px; z-index: 4" src="../img/graph/orange.png">
          <img class="G" style="top: 70px; height: 280px; z-index: 2" src="../img/graph/yellow.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 315px; height: 35px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 275px; height: 75px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 227px; height: 103px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 150px; height: 200px; z-index: 4" src="../img/graph/orange.png">
          <img class="G" style="top: 90px; height: 260px; z-index: 2" src="../img/graph/yellow.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 315px; height: 35px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 275px; height: 75px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 227px; height: 103px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 150px; height: 200px; z-index: 4" src="../img/graph/orange.png">
          <img class="G" style="top: 90px; height: 260px; z-index: 2" src="../img/graph/yellow.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 235px; height: 105px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 200px; height: 150px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 315px; height: 35px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 285px; height: 65px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 245px; height: 95px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 210px; height: 140px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 315px; height: 35px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 285px; height: 65px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 245px; height: 95px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 210px; height: 140px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <!-- <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div>

          <div class="C">
          <img class="G" style="top: 330px; height: 20px; z-index: 32" src="../img/graph/blue.png">
          <img class="G" style="top: 290px; height: 60px; z-index: 16" src="../img/graph/pink.png">
          <img class="G" style="top: 260px; height: 80px; z-index: 8" src="../img/graph/green.png">
          <img class="G" style="top: 220px; height: 130px; z-index: 4" src="../img/graph/orange.png">
          <div class="graph-label">label</div>
          </div> -->

        </div>
      </div>
    </div>

    <br><br><br><br>
    <hr>
    <img class="graph-label-image" src="../img/graph/blue.png"><h2 class="graph-label-image-text">Round 1 - Rise to the top</h2>
    <br>
    <hr>
    <img class="graph-label-image" src="../img/graph/pink.png"><h2 class="graph-label-image-text">Round 2 - Some Round</h2>
    <br>
    <hr>
    <img class="graph-label-image" src="../img/graph/green.png"><h2 class="graph-label-image-text">Round 3 - Some Round</h2>
    <br>
    <hr>
    <img class="graph-label-image" src="../img/graph/orange.png"><h2 class="graph-label-image-text">Round 4 - Some Round</h2>
    <br>
    <hr>
    <img class="graph-label-image" src="../img/graph/yellow.png"><h2 class="graph-label-image-text">Round 5 - Some Round</h2>
    <br>
    <hr>
  </div>

</body>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <img src="../img/whitelogo.png" alt="logo" class="logo-footer">
        <br>
        <a href="#">Privacy Link 1</a><a href="#">Privacy Link 2</a><a href="#">Privacy Link 3</a>
        <br>
        <p>&copy; 2015 Initiative. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
