<!-- begin imports -->
<!-- for bootstrap -->
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="jasny-bootstrap/css/jasny-bootstrap.css">
<link rel="stylesheet" type="text/css" href="jasny-bootstrap/css/jasny-bootstrap.min.css">

<!-- for font awesome -->
<link rel="stylesheet" href="font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<!-- for custom styles -->
<link rel="stylesheet" type="text/css" href="customstyle/main.css">

<!-- for scripts -->
<link rel="stylesheet" type="text/css" href="bootstrap/js/bootstrap.js">
<link rel="stylesheet" type="text/css" href="bootstrap/js/bootstrap.min.js">

<link rel="stylesheet" type="text/css" href="jasny-bootstrap/js/jasny-bootstrap.js">
<link rel="stylesheet" type="text/css" href="jasny-bootstrap/js/jasny-bootstrap.min.js">

<!-- for the javascript -->
<head>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
  <script src="jasny-bootstrap/js/offcanvas.js"></script>
</head>

<!-- end imports -->
