/* CSS3 Imports */
@import "compass/css3";

/* Top bar styles here */

.title-h1 {
  color: #FFFFFF;
  padding-left: 130px;
  font-size: 32;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  top: 35px;
}

.title-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  top: 45px;
}

.title-h2 {
  color: #FFFFFF;
  padding-left: 130px;
  font-size: 12;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  top: 20px;
}

@media (max-width: 768px) {
  .title-h1 {
    color: #FFFFFF;
    padding-left: 130px;
    font-size: 24;
  }

  .title-h2 {
    color: #FFFFFF;
    padding-left: 130px;
    font-size: 10;
  }
}

.top-bar {
  height: 100px;
  width: 100%;
  color: #49BBEB;
  background-color: #49BBEB;
  box-shadow: -1px 10px 8px #DDDDDD;
}

.top-bar .container-fluid {
  color: #49BBEB;
  background-color: #49BBEB;
}

/* LOGO styles here */

.logo {
  width: 130px;
  height: 100px;
  float: left;
}

.logo-side {
  height: 60px;
  width: 230px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
}

.logo-footer {
  height: 60px;
  width: 230px;
}

.container-puff{
  padding: 45px;
}

/* icons styles here */

i {
  color: #FFFFFF;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

p > i {
  color: #FFFFFF;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  -webkit-box-shadow: 0px 0px 1px #49BBEB;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0px 0px 1px #49BBEB;
  -moz-border-radius: 0px;
  box-shadow: 0px 0px 1px #49BBEB;
  border-radius: 0px;
  color: #49BBEB;
  background-color: #FFFFFF;
  padding: 10px 30px 10px 30px;
  border: solid #49BBEB 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  color: #49BBEB;
}

.btn-menu {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-center {
  margin: 0 auto;
  text-align: center;
}

.btn-light-grey {
  -webkit-box-shadow: 0px 0px 1px #E6E7E8;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 0px 0px 1px #E6E7E8;
  -moz-border-radius: 0px;
  box-shadow: 0px 0px 1px #E6E7E8;
  border-radius: 0px;
  color: #E6E7E8;
  border: solid #E6E7E8 2px;
}

.btn-light-grey:hover {
  color: #E6E7E8;
}

/* menu styles here */

.menu-icon:hover > li > p > i {
  background-color: #49BBEB;
}

/*overload*/
.navmenu {
  z-index: 1050;
}

.small-nav {
  z-index: 1040;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: -5px 0px 10px #555555;
}

hr {
  color: #888991;
  border-color: #888991;
  background-color: #888991;
  border-top: 1px solid #888991;
}

.hr-light {
  color: #E6E7E8;
  border-color: #E6E7E8;
  background-color: #E6E7E8;
  border-top: 1px solid #E6E7E8;
}

.icon-style {
    color: #888991;
    float: right;
    padding-right: 28px;
}

.menu-text {
    color: #888991;
    text-transform: uppercase;
    height: 1em;
    padding-left: 10px;
    position: relative;
}

.main-menu-text {
    color: #49BBEB;
    font-weight: bold;
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
}

.menu-icon {
  width: 40px;
  height: 1em;
  margin-bottom: 10px;
}

.menu-icon-filler {
  height: 60px;
}

.side-nav ul {
  margin-left: 0;
}

.side-nav > p {
  margin-bottom: 0;
}

.side-nav > li:hover > p {
  color: #49BBEB;
}

.side-nav > li:hover > p > i {
  color: #49BBEB;
}

@media(min-width:768px) {
    .side-nav {
      height: 100vh;
      background-color: #3A3A3A;
    }

    .side-nav > li {
      width: 100%;
    }

    .side-nav>li>a {
      width: 100%;
    }

    .side-nav>li>a:hover,
    .side-nav>li>a:focus {
      width: 100%;
      outline: none;
    }
}

/* for option responsive updates */
@media(max-width:768px) {
  .side-nav {
    height: 100vh;
    background-color: #3A3A3A;
  }

  .side-nav > li {
    width: 100%;
  }

  .side-nav>li>a {
    width: 100%;
  }

  .side-nav>li>a:hover,
  .side-nav>li>a:focus {
    width: 100%;
    outline: none;
  }
  /*overload for 0 margin*/
  .navbar-nav{
    margin: 0;
  }
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  text-decoration: none;
}

.navbar-toggle {
  float: right;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block;
    /*position: relative;*/
    float: right;
    width: 40px;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #3A3A3A;
    border: 0 solid transparent;
    border-radius: 0;
  }
}

/* body styles here */
body {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 30px;
  z-index: -11;
}

.shaded-box {
  box-shadow: -1px -1px 8px #DDDDDD;
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.empty-box {
  color: #FFFFFF;
  height: 50.7px;
  margin-left: 5px;
  margin-right: 5px;
}

.padding-box {
  padding-left: 20px;
  padding-right: 0px;
  margin-bottom: 30px;
}

.grey-box {
  background-color: #E6E7E8;
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.blue-box {
  border-radius: 0px;
  /*color: #49BBEB;*/
  background-color: #FFFFFF;
  border: solid #49BBEB 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.right-image {
  float: right;
  /*height: 100%;*/
  width: 50%;
}

.badge-pink {
    background: #FF65C7;
    color: #FFFFFF;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px grey;
    position: absolute;
}

.badge-grey {
    background: #3A3A3A;
    color: #FFFFFF;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px grey;
    position: absolute;
}

.badge-far-right {
  top: -10px;
  right: 25px;
}

.badge-right{
  top: -10px;
  right: 60px;
}

.badge-far-left {
  top: -10px;
  left: 25px;
}

.badge-left{
  top: -10px;
  left: 60px;
}
/* Graph Styles here */
.graph {
  position: relative;
  width: 100%;
  height: 351px; /* this is duplicated for PHP edits */
  border-left: solid #888991 1px;
  border-bottom: solid #888991 1px;
  margin 0 auto;
}

.graph-padding {
  padding-left: 50px;
  padding-right: 50px;
}

.graph-label {
  position: relative;
  top: 360px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.graph-label-image {
  float: left;
  width: 40px;
  height: 40px;
  /*padding-right: 15px;*/
}

.graph-label-image-text {
  padding-left: 15px;
  position: relative;
  top: 20px;
  left: 15px;
  transform: translateY(-50%);
}
/* graph bar: container, graph bar, holiday, workday */
.C {
  position: relative;
  width: 6%;
  left: 0;
  top:0;
  height:205px;
  float:left;
}
.C-left {
  width: 35px;
  left: -50px;
  font-weight: bold;
}
.G {
  position: absolute;
  width: 80%;
  left: 0;
  z-index: 1;
}

/* Y-axis description */
.Y {
  position: relative;
  left: 6px;
  z-index: -1;
}

/* legend below graph: text, image */
.Lt {
  position: relative;
  top: 0;
  left: 0;
  width:  92px;
  height: 16px;
  border: 0;
  float: left;
}
.Li {
  width: 20px;
  height: 12px;
  border: 0;
}

/* custom posts */

h1 {
  padding: 0;
  margin: 0;
  font-size: 28;
}

.h1-light {
  color: #888991;
}

h2 {
  font-size: 18;
}

h3 {
  font-size: 16;
  text-transform: capitalize;
}

.h3-vertical-center {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  padding-left: 20px;
}

.center-text{
  padding-left: 5px;
  /*text-align: center;*/
}

h4 {
  font-size: 11;
  text-transform: capitalize;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

a:link {
    color: #49BBEB;
}

a:visited {
    color: #49BBEB;
}

a:hover {
    color: #49BBEB;
}

a:active {
    color: #49BBEB;
}

.ul-close {
  margin-left: 15px;
  padding: 0;
}

.li-close {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.post-icon {
 background-color: #49BBEB;
 border-radius: 50%;
 border: 1x solid grey;
 padding:16px;
 top: 40px; /* overrides the general translation */
 transform: translateY(0%); /* overrides the general translation */
 right: 21px; /* centers by ourlines */
 z-index: 50;
}

.post-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.background-light {
  background-color: #E6E7E8;
  /*color: #E6E7E8;*/
  margin-right: -80px;
  margin-left: -80px;
}

.post-number-blue {
 background-color: #49BBEB;
 border-radius: 50%;
 padding:16px;
 height: 46px;
 width: 46px;
 top: 40px; /* overrides the general translation */
 transform: translateY(0%); /* overrides the general translation */
 right: 21px; /* centers by ourlines */
 z-index: 50;
 position: relative;
}

.post-number-dark-grey {
 background-color: #3A3A3A;
 border-radius: 50%;
 padding:16px;
 height: 46px;
 width: 46px;
 top: 40px; /* overrides the general translation */
 transform: translateY(0%); /* overrides the general translation */
 right: 21px; /* centers by ourlines */
 z-index: 50;
 position: relative;
}

.post-number-light-grey {
 background-color: #E6E7E8;
 border-radius: 50%;
 padding:16px;
 height: 46px;
 width: 46px;
 top: 40px; /* overrides the general translation */
 transform: translateY(0%); /* overrides the general translation */
 right: 21px; /* centers by ourlines */
 z-index: 50;
 position: relative;
}

.post-number-circle-white {
 border-radius: 50%;
 border: 2px solid #FFFFFF;
 color: #FFFFFF;
 width: 1.8em;
 height: 1.8em;
 top: 11px; /* overrides the general translation */
 right: 11px; /* centers by ourlines */
 z-index: 49;
 position: absolute;
 text-align: center;
}

.post-number-circle-grey {
 border-radius: 50%;
 border: 2px solid #888991;
 color: #888991;
 width: 1.8em;
 height: 1.8em;
 top: 11px; /* overrides the general translation */
 right: 11px; /* centers by ourlines */
 z-index: 49;
 position: absolute;
 text-align: center;
}

.post-light-grey {
  color: #8A8A8A;
}

.post-image {
  width: 100%;
  max-height: 600px;
  /*margin-top: 25px;*/
  /*margin-bottom: 25px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.post-image-large {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.post-vimeo {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.left-bottom-shade {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  border-left: solid #E6E7E8 1px;
  border-bottom: solid #E6E7E8 1px;
}

/* brackets and backet needed things here */

.circle-pink {
    background: #FF65C7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px grey;
    position: relative;
    display: block;
    /*padding-left: 20px;*/
}

.circle-dark-grey {
    background: #3A3A3A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px grey;
    position: relative;
    /*padding-left: 20px;*/
}

.circle-light-grey {
    background: lightgrey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px grey;
    position: relative;
    /*padding-left: 20px;*/
}

.circle-white {
    background: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px grey;
    position: relative;
    /*padding-left: 20px;*/
}

.circle-blue {
    background: #FFFFFF;
    border-style: solid;
    border-color: #49BBEB;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px grey;
    position: relative;
    /*padding-left: 15px;*/
}

.circle-span {
    display: inline;
    height: 60px;
    width: 60px;
    line-height: 60px;

    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}

/* form edits are here */

label {
  font-size: 10px;
  text-transform: uppercase;
}

.selector {
  width: 30%;
}

.form-control {
  border-radius: 0px; /*override*/
}

/* footer styles here */

footer {
  padding-top: 0px;
  text-align: center;
  margin: auto;
}

footer a {
  color: #888991;
  padding: 5px;
}

footer a:link {
    color: #888991;
}

footer a:visited {
    color: #888991;
}

footer a:hover {
    color: #49BBEB;
}

footer a:active {
    color: #49BBEB;
}

footer p {
  padding-top: 15px;
  color: #888991;
}

footer img {
  /**/
}
